<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jimbru Analytics for {{title}}</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
      integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
  </head>
  <body>
    <h1 class="title" align="center">Jimbru Analytics for {{title}}</h1>
    <div class="level">
      <div class="level-item">
        <canvas id="myChart" width="500" height="200"></canvas>
      </div>
      <div class="level-item">
        <canvas id="hourpie" width="500" height="200"></canvas>
      </div>
    </div>
    <div class="level">
      <div class="level-left">
        <table class="table is-hoverable">
          <thead>
            <tr>
              <th>Referrer URL</th>
              <th>Referrer Count</th>
            </tr>
          </thead>
          <tbody>
            {% for key,value in refs.items() %}
            <tr>
              <td>{{key}}</td>
              <td>{{value}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="level-item">
        <table class="table is-hoverable">
          <thead>
            <tr>
              <th>Visited URL</th>
              <th>Visited Count</th>
            </tr>
          </thead>
          <tbody>
            {% for key,value in urls.items() %}
            <tr>
              <td>{{key}}</td>
              <td>{{value}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="level-item">
        <table class="table is-hoverable">
          <thead>
            <tr>
              <th>Visited IPs</th>
              <th>IP Hits</th>
            </tr>
          </thead>
          <tbody>
            {% for key,value in ip.items() %}
            <tr>
              <td>{{key}}</td>
              <td>{{value}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var ptx = document.getElementById('hourpie').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{days|safe}},
            datasets: [{
                label: '# of Hits',
                data: {{hitarr|tojson}},
                backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
            ],
            pointBackgroundColor: 'tomato',
            borderColor: [
                'crimson',
            ],
            borderWidth: 1
            }]
        },
        options: {
            responsive: false,
            title: {
            display: true,
            text: 'Hits in Last 7 days'
        },
        scales: {
            yAxes: [{
                ticks: {
                    fontColor: "rgba(0,0,0,0.5)",
                    fontStyle: "bold",
                    beginAtZero: true,
                    maxTicksLimit: 5,
                    padding: 10
                },
                gridLines: {
                    drawTicks: false,
                    display: false
                }

            }],
            xAxes: [{
                gridLines: {
                    zeroLineColor: "transparent"
                },
                ticks: {
                    fontColor: "rgba(0,0,0,0.5)",
                    fontStyle: "bold"
                }
            }]
        }
    }
    });
    var pieChart = new Chart(ptx,{
        type :'pie',
        data: {
            labels: {{hours|safe}},
            datasets:[{
                data:{{hhits|tojson}},
                backgroundColor: [
        "tomato",
        "crimson",
        "blue",
        "green",
        "pink",
        "rebeccapurple",
        "azure"
      ],
            }]
        },
        options:{
            responsive: false,
            title: {
                display: true,
                text: 'Hourly Hits'
            }
        }
    });
  </script>
  <style>
    {{css}}
  </style>
</html>
