<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
</head>
<body>
    <div align="center"><canvas id="myChart" width="1000" height="400"></canvas></div>
    <table align="right">
        <tr>
            <th>Referrer URL</th>
            <th>Referrer Count</th>
        </tr>
    {% for key,value in refs.items() %}
    <tr>
        <td>{{key}}</td>
        <td>{{value}}</td>
    </tr>
        {% endfor %}
    </table>
    <table align="left">
        <tr>
            <th>Visited URL</th>
            <th>Visited Count</th>
        </tr>
    {% for key,value in urls.items() %}
    <tr>
        <td>{{key}}</td>
        <td>{{value}}</td>
    </tr>
        {% endfor %}
    </table>  
</body>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{days|safe}},
            datasets: [{
                label: '# of Hits',
                data: {{hitarr|tojson}},
                backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
            ],
            borderWidth: 1
            }]
        },
        options: {
            responsive: false,
        scales: {
            yAxes: [{
                ticks: {
                    fontColor: "rgba(0,0,0,0.5)",
                    fontStyle: "bold",
                    beginAtZero: true,
                    maxTicksLimit: 5,
                    padding: 10
                },
                gridLines: {
                    drawTicks: false,
                    display: false
                }

            }],
            xAxes: [{
                gridLines: {
                    zeroLineColor: "transparent"
                },
                ticks: {
                    fontColor: "rgba(0,0,0,0.5)",
                    fontStyle: "bold"
                }
            }]
        }
    }
    });
    </script>
<style>
    {{css}}
</style>
</html>