<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jimbru Analytics for {{title}}</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
      integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/a17t@0.2.9/dist/a17t.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/twinklecss@1.1.0/twinkle.min.css"
    />
  </head>
  <body>
    <div class="w-full h-full flex flex-col">
      <div class="flex justify-center">
        <h2 class="text-2xl sm:text-4xl font-bold p-2 text-center">
          Jimbru Analytics for {{title}}
        </h2>
      </div>
      <div
        class="flex justify-between p-4 card"
        style="background-color: #4a5568"
      >
        <div class="flex flex-col text-white">
          <div class="text-sm font-semibold">Hits</div>
          <div class="text-4xl font-bold">{{tothits}}</div>
          <div class="text-sm font-bold text-green-400">All Time</div>
        </div>
        <div class="flex flex-col text-white">
          <div class="text-sm font-semibold">Avg Load Time</div>
          <div class="text-4xl font-bold">{{loadTime|round|int}}</div>
          <div class="text-sm font-bold text-green-400">ms</div>
        </div>
      </div>
      <div class="flex">
        <div class="card flex-1">
          <canvas id="myChart" class="w-full" height="300"></canvas>
        </div>
      </div>
      <div class="flex flex-col sm:flex-row">
        <div class="card flex-1" style>
          <div>
            <canvas id="hourpie" class="w-full" height="300"></canvas>
          </div>
        </div>
        <div class="card flex-1">
          <div>
            <canvas id="ospie" class="w-full" height="300"></canvas>
          </div>
        </div>
      </div>

      <div class="flex flex-col sm:flex-row">
        <div class="card flex-1">
          <table width="600" class="table overflow-y-scroll">
            <thead>
              <tr>
                <th>Visited URL</th>
                <th>Visited Count</th>
              </tr>
            </thead>
            <tbody>
              {% for key,value in urls.items() %}
              <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      
      <div class="card flex-1">
        <table width="600" class="table overflow-y-scroll">
          <thead>
            <tr>
              <th>Referrer URL</th>
              <th>Referrer Count</th>
            </tr>
          </thead>
          <tbody>
            {% for key,value in refs.items() %}
            <tr>
              <td>{{key}}</td>
              <td>{{value}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
      <div class="flex flex-col sm:flex-row">
        <div class="card flex-1">
          <table width="600" class="table overflow-y-scroll">
            <thead>
              <tr>
                <th>Operating System</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
              {% for key,value in os.items() %}
              <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      <div class="card flex-1">
        <table width="600" class="table overflow-y-scroll">
          <thead>
            <tr>
              <th>Broswer Types</th>
              <th>Count</th>
            </tr>
          </thead>
          <tbody>
            {% for key,value in browser.items() %}
            <tr>
              <td>{{key}}</td>
              <td>{{value}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="flex flex-col sm:flex-row">
      <div class="card flex-1">
        <table width="600" class="table overflow-y-scroll">
          <thead>
            <tr>
              <th>Device Types</th>
              <th>Count</th>
            </tr>
          </thead>
          <tbody>
            {% for key,value in dev.items() %}
            <tr>
              <td>{{key}}</td>
              <td>{{value}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="card flex-1">
        <table width="600" class="table overflow-y-scroll">
          <thead>
            <tr>
              <th>Countries</th>
              <th>Sessions</th>
            </tr>
          </thead>
          <tbody>
            {% for key,value in countries.items() %}
            <tr>
              <td>{{key|getctCode}}</td>
              <td>{{value}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
      <div class="flex">
        <div class="card flex-1 overflow-auto">
          <table class="table overflow-y-scroll">
            <thead>
              <tr>
                <th>Time</th>
                <th>Device</th>
                <th>Country</th>
                <th>Provider</th>
                <th>City</th>
              </tr>
            </thead>
            <tbody>
              {% for os in cflg %} {% for
              key,value in os.items()%}
              <tr>
                <td class="font-medium text-teal-600"><a href="/sess/{{key}}">{{key|dateit}}</a></td>
                <td>{{value['model']}}</td>
                <td>
                  {{value['country_code']|flagize}} {{value['country_name']}}
                </td>
                <td>{{value['org']}}</td>
                <td>{{value['city']}}</td>
              </tr>
              {% endfor %} {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
  <script>
    {{chart|safe}}
  </script>
  <style></style>
</html>
