<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jimbru Analytics for {{title}}</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
      integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
  </head>
  <body>
    <h1 class="title" align="center">Jimbru Analytics for {{title}}</h1>
    <div class="level">
      <div class="level-item">
        <canvas id="myChart" width="600" height="300"></canvas>
      </div>
      <div class="level-item">
        <canvas id="hourpie" width="600" height="300"></canvas>
      </div>
    </div>
    <br /><br />
    <div class="level">
      <div class="level-item">
        <canvas id="ospie" width="600" height="300"></canvas>
      </div>
      <div class="level-item">
        <canvas id="devbar" width="600" height="300"></canvas>
      </div>
    </div>
    <div class="level">
      <div class="level-left">
        <div class="tbholder">
          <table width="600" class="table is-hoverable">
            <thead>
              <tr>
                <th>Visited URL</th>
                <th>Visited Count</th>
              </tr>
            </thead>
            <tbody>
              {% for key,value in urls.items() %}
              <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="level-item">
        <div class="tbholder">
          <table width="600" class="table is-hoverable">
            <thead>
              <tr>
                <th>Referrer URL</th>
                <th>Referrer Count</th>
              </tr>
            </thead>
            <tbody>
              {% for key,value in refs.items() %}
              <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="level">
      <div class="level-left">
        <div class="tbholder">
          <table width="600" class="table is-hoverable">
            <thead>
              <tr>
                <th>Operating System</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
              {% for key,value in os.items() %}
              <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="level-item">
        <div class="tbholder">
          <table width="600" class="table is-hoverable">
            <thead>
              <tr>
                <th>Device Types</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
              {% for key,value in dev.items() %}
              <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div><div class="level">
        <table width="600" class="table is-hoverable">
          <thead>
            <tr>
              <th>Time</th>
              <th>IP</th>
              <th>Country</th>
              <th>Provider</th>
              <th>City</th>
            </tr>
          </thead>
          <tbody>
            {% for os in cflg %} {% set _newdict = os.pop('time')%}{% for key,value in os.items()%}
            <tr>
              <td>{{_newdict|dateit}}</td>
              <td>{{value['ip']}}</td>
              <td>{{value['country_code']|flagize}} {{value['country_name']}}</td>
              <td>{{value['org']}}</td>
              <td>{{value['city']}}</td>
            </tr>
            {% endfor %} {% endfor %}
          </tbody>
        </table>
  </div>
  </body>
  <script>
    {{chart|safe}}
  </script>
  <style>
    .tbholder {
      width: 600px;
      height: 400px;
      overflow: scroll;
    }
    .tbholder1{
      width:max-content;
      height: 400px;
      overflow: scroll;
    }
  </style>
</html>
