<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/a17t@0.2.9/dist/a17t.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/twinklecss@1.1.0/twinkle.min.css"
    />
</head>
<body>
    <div class="w-full h-full flex flex-col">
      <div class="flex">
        <div class="card flex-1 overflow-auto">
            <span class="bg-white hover:bg-purple-100 text-gray-800 font-semibold py-2 px-4 border border-purple-400 rounded shadow">
                <a href="/dash">⬅ Back</a>
            </span>
          <table class="table overflow-y-scroll">
            <thead>
              <tr>
                <th>Time</th>
                <th>IP</th>
                <th>Device</th>
                <th>Operating System</th>
                <th>Browser</th>
                <th>Country</th>
                <th>Location</th>
                <th>Provider</th>
                <th>City</th>
                <th>Region</th>
              </tr>
            </thead>
            <tbody>
              {% for key,value in ipdata.items()%}
              <tr>
                <td>{{key|dateit}}</td>
                <td>{{value['ip']}}</td>
                <td>{{value['model']}}</td>
                <td>{{value['os']}}</td>
                <td>{{value['browser']}}</td>
                <td>
                  {{value['country_code']|flagize}} {{value['country_name']}}
                </td>
                <td><a href="https://www.google.com/maps/search/?api=1&query={{value['latitude']}},{{value['longitude']}}">Open
                    in Maps &nearr;</a></td>
                
                <td>{{value['org']}}</td>
                <td>{{value['city']}}</td>
                <td>{{value['region']}}</td>
              </tr>
              {% endfor %} 
            </tbody>
          </table>
        </div>
      </div>
      <div class="card flex-1 overflow-auto">
        <table class="table overflow-y-scroll">
          <thead>
            <tr>
              <th>Time</th>
              <th>URL</th>
              <th>ReF</th>
              <th>Load Time</th>
            </tr>
          </thead>
          <tbody>
            {% for hdict in hitdata %}{% for key,value in hdict.items() %}
            <tr>
              <td>{{value['time']|dateit(True)}}</td>
              <td>{{value['url']}}</td>
              <td>{{value['ref']}}</td>
              <td>{{value['ldt']}}</td>
            </tr>
            {% endfor %} {% endfor %} 
          </tbody>
        </table>
      </div>
    </div>
</body>
</html>